.cache/cliphist
.cache/go-build
.cache
.config/thorium
.gnupg
.hplip
.local/share/applications
.local/share/desktop-directories
.local/share/dolphin
.local/share/fish/fish_history
.local/share/nvim/lazy
.local/share/nvim
.local/share/pnpm/store/v3
.local/share/ranger
.local/share/sddm
.local/share/recently-used.xbel
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/state/lazygit
.local/state
.npm
.pki/nssdb
Pictures/wallpapers/
hyprdot
.bash_logout
github-copilot/
.config/gh
.config/flameshot
.config/spotify
.local/share/flatpak
.local/share/icons/default
.local/share/nwg-look
.config/dconf
.local/share/nwg-drawer/nwg-drawer.lock
.config/dooit
.config/obs-studio
.config/obsidian
.local/share
.config/libreoffice/4
.nv/ComputeCache
Desktop/
Desktop/
.config/.config/micro/buffers
.config/.config/user-dirs.locale
.config/autostart
.config/.config/flameshot
.config/menus/applications-merged
.config/kde.org
.config/micro/buffers
.config/nvim
.config/session
.config/QtProject.conf
.config/krusaderrc
.config/trashrc
.zcompdump
Obsidian
.java
jexiftoolgui_data
logs
