.cache/cliphist
.cache/go-build
.cache
.config/thorium
.gnupg
.hplip
.local/share/applications
.local/share/desktop-directories
.local/share/dolphin
.local/share/fish/fish_history
.local/share/nvim/lazy
.local/share/nvim
.local/share/pnpm/store/v3
.local/share/ranger
.local/share/sddm
.local/share/recently-used.xbel
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/state/lazygit
.local/state
.npm
.pki/nssdb
Pictures/wallpapers/
hyprdot
.bash_logout
github-copilot/
.config/gh
.config/flameshot
.config/spotify
.local/share/flatpak
.local/share/icons/default
.local/share/nwg-look
.config/dconf
.local/share/nwg-drawer/nwg-drawer.lock
.config/dooit
.config/obs-studio
.config/obsidian
.local/share
.config/libreoffice/4
.nv/ComputeCache
Desktop/
Desktop/
.config/.config/micro/buffers
.config/.config/user-dirs.locale
.config/autostart
.config/.config/flameshot
.config/menus/applications-merged
.config/kde.org
.config/micro/buffers
.config/nvim
.config/session
.config/QtProject.conf
.config/krusaderrc
.config/trashrc
Pictures/Screenshots
.zcompdump
Obsidian
.java
jexiftoolgui_data
logs
.anydesk
.zenmap
.config/cachyos-hello.json
.config/khotkeysrc
.config/kdeglobals
.config/kconf_updaterc
go
.congig/user-dirs.dirs
.config/user-dirs.locale

.config/baloofileinformationrc
.config/NuGet
.nuget/packages
.config/WebCord
.config/btop/btop.log
.config/kwalletrc
2024-06-24 23-08-57.mkv
.cargo
.config/octopi
.config/qalculate/qalc.history
.config/konsolerc
.steam
.steampath
.steampid
.config/vlc
.config/kiorc
.config/content_shell
.config/godot
.librewolf
Downloads
.Xauthority
0
100
75
.nvidia-settings-rc
.viminfo
.bash_history
logs.txt
.config/spicetify
.pyenv
.spicetify
SHARE
scripts/rofi-desktop
.i18n
install.log
.config/waybar/waybar-mediaplayer
.config/GitKraken
.gitkraken
.config/mimeapps.list
.config/pavucontrol.ini
.config/fish/fish_variables2
.config/fish/fish_variables
.config/HKModInstaller
.config/unity3d/Team Cherry/Hollow Knight
.net/Lumafly/kh0ppvmcNrVlfuYAU2DI0PXja+Fa+OE=
.ssh
games
virtual machines
.tetris.scores
.bun
.config/app-outlet
.config/bleachbit
.config/qalculate
.swt
.nuxtrc
a.out
.config/hypr/hyprpaper.conf
Videos/Screencasts
.config/Kitware
.config/videomass
.rustup
.wine
.wget-hsts
.aspnet/DataProtection-Keys
.binaryninja
.config/Electron
.config/Fiddler Everywhere
.config/Notepadqq
.config/Vector 35
.config/imhex
.config/ppsspp/PSP/SYSTEM
.config/retroarch
.config/rizin
.fiddler
.config/cachyos/cachyos-pi
.config/qBittorrent
.local/bin
.local/lib/python3.10/site-packages/MarkupSafe-2.1.5.dist-info
.local/lib/python3.10/site-packages
.python_history
.local
obsidian
.config/Ultralytics
.config/wireshark
.autopsy/dev/var/log
.config/micro/backups
nohup.out
testdisk.log
snap/autopsy
.autopsy/dev
scripts/deskto_entry/
.config/ppsspp/PSP
.config/cpupower_gui/00-cpg.conf
.sane/xsane
scripts/deskto_entry
hyprlog.txt
.config/qalculate/qalculate-gtk.cfg
.config/kdiff3fileitemactionrc
.config/cataclysm-dda
.config/binwalk
.config/seergdb
.dotnet
.ghidra/.ghidra_11.0.3_DEV
.idapro
.nuget/NuGet
fiddler.rep
idapro-9.0
fiddler.gpr
.config/Motrix
.config/balenaEtcher
.config/unity3d
.dosbox
Videos
.config/hydra
.config/hydralauncher
2024-10-19 22-39-51.mkv
.config/GIMP/2.10
.config/r2modman
.config/r2modmanPlus-local
.config/vesktop
Games/umu/umu-default
venv
.config/solaar/config.yaml
.minecraft/astralsorcery_persistent
.mputils
.config/Insomnia
.config/Fiddler
.config/Portmaster
.config/Proxyman
.config/nekoray/config
.config/zed
.config/PCSX2
.config/citron
.config/dolphin-emu
.vcpkg
.BurpSuite
.config/chromium/Crash Reports
.proxmark3/history.txt
extractions
scripts/request.txt
scripts/response_cache.txt
.rnd
.config/flutter
.dart-tool
.gradle
.platformio
.pub-cache
ida-pro-9.0
.flutter
.config/kicad/9.0
.gk
.gitconfig
photorec.se2
photorec.ses
.config/com.kesomannen.gale
.arduino15
.config/Cursor
.config/VSCodium
.cursor
.nuxt/devtools
.vscode-oss
.android
ida-pro-9.1
.config/ludusavi
.config/Code
.vscode
.config/Code - Insiders
.vscode-insiders
.syncedlyrics/musixmatch_token.json
scripts/.syncedlyrics/musixmatch_token.json
.config/Transformice
.renderdoc
