@import "../../.cache/wal/colors-waybar.css";
@define-color bgc
  rgba(0, 0, 0, 0.1);

@define-color textc rgba(0, 0, 0, 0.2);

* {
  font-family: JetBrains Mono;
  font-weight: bold;
  font-size: 14px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @bgc;
}

.notification-row {
  border-radius: 20px;
  outline: none;
  margin: 20px;
  padding: 0;
}

.notification {
  background: @textc;
  margin: 0px;
  border-radius: 20px;
  border-color: @color1;
}

.notification-content {
  background: @textc;
  padding: 7px;
  margin: 0;
  border-radius: 20px;
}

.close-button {
  background: @textc;
  color: @color2;
  text-shadow: none;
  padding: 0;
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: @color10;
  color: @textc;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  border-radius: 20px;
  color: @textc;
  border-top: none;
  border-radius: 0px 0px 20px 20px;
  background: @bgc;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @bgc;
  background: @textc;
  border-radius: 20px;
}

.summary {
  padding-top: 7px;
  font-size: 21px;
  color: @color6;
}

.time {
  font-size: 11px;
  color: @color15;
  margin-right: 40px;
}

.body {
  font-size: 12px;
  color: @color7;
}

.control-center {
  background-color: @bgc;
  border-radius: 20px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0.1);
}

.widget-title {
  color: @color11;
  padding: 10px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 20px;
}

.widget-volume {
  border: 3px solid @color6;
  border-radius: 10px;
}

.widget-title > button {
  font-size: 1rem;
  color: @color6;
  padding: 10px;
  text-shadow: none;
  background: @bgc;
  box-shadow: none;
  border-radius: 20px;
}

.widget-title > button:hover {
  background: @color8;
  color: #282828;
}

.widget-dnd {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  font-size: large;
  color: @color0;
}

.widget-dnd > switch {
  border-radius: 20px;
  background: @color13;
}

.widget-dnd > switch:checked {
  background: #d79921;
}

.widget-dnd > switch slider {
  background: @bgc;
  border-radius: 10px;
}

.widget-dnd > switch:checked slider {
  background: @bgc;
  border-radius: 10px;
}

.widget-label {
  margin: 10px 10px 10px 10px;
}

.widget-label > label {
  font-size: 1rem;
  color: @textc;
}

.widget-mpris {
  color: @color3;
  padding: 5px 5px 5px 5px;
  margin: 10px;
  border-radius: 20px;
}

.widget-mpris > box > button {
  border-radius: 20px;
}

.widget-mpris-player {
  padding: 5px 5px;
  margin: 10px;
}
